<div>
    {% for flashMessage in app.session.flashbag.get('success_send') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Congratulations!</strong> {{ flashMessage }}
        </div>
    {% endfor %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <form method="post" {{ form_enctype(form) }}>
        <div class="form-group {% if form_errors(form.name) %}has-error{% endif %}">
            <span class="glyphicon glyphicon-asterisk text-danger" aria-hidden="true"></span>
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group {% if form_errors(form.email) %}has-error{% endif %}">
            <span class="glyphicon glyphicon-asterisk text-danger" aria-hidden="true"></span>
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="form-group {% if form_errors(form.subject) %}has-error{% endif %}">
            {{ form_label(form.subject) }}
            {{ form_errors(form.subject) }}
            {{ form_widget(form.subject) }}
        </div>
        <div class="form-group {% if form_errors(form.message) %}has-error{% endif %}">
            <span class="glyphicon glyphicon-asterisk text-danger" aria-hidden="true"></span>
            {{ form_label(form.message) }}
            {{ form_errors(form.message) }}
            {{ form_widget(form.message) }}
        </div>
        {{ form_rest(form) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send message</button>
    </form>
    <span class="glyphicon glyphicon-asterisk text-danger" aria-hidden="true"></span> &ndash; required fields
</div>
