{% extends 'CmsBundle:Layout:layout.html.twig' %}

{% block title %}Title of contact page{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3>Contact us</h3>
            {{ include('ContactFormBundle:Default:form.html.twig') }}
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}