{% extends 'CmsBundle:Admin:layout.html.twig' %}

{% block title %}Message queue{% endblock %}

{% block adminbody %}
    {% if messages %}
        <div class="alert alert-info center-block" role="alert">
            Don't forget set cron task with command <code>app/console crontask:contact</code>
        </div>
        {% for msg in messages %}
            <div class="panel panel-info" id="msg-{{ msg.getId }}">
                <div class="panel-heading">
                    <span class="pull-left">
                        {{ msg.getName }}
                        (<a href="mailto:{{ msg.getEmail }}">{{ msg.getEmail }}</a>)
                    </span>
                    <span class="pull-left" data-toggle="tooltip" data-placement="bottom" title="{{ msg.getIp }}">
                        &nbsp;<u>IP address?</u>
                    </span>
                    <span class="pull-right">
                        {{ msg.getDate|date("Y, F jS \\a\\t H:i:s") }}
                    </span>
                    <span class="clearfix"></span>
                </div>
                <div class="panel-body">
                    {% if msg.getErrorInfo %}
                        <div class="alert alert-danger" role="alert">
                            <b>Message not sent! Next try {{ msg.getNextTryTime|date("Y, F jS \\a\\t H:i:s") }}</b><br>
                            <b>Reason:</b> {{ msg.getErrorInfo }}<br><br>
                            <button class="btn btn-danger btn-xs" onclick="delMsgFromQueue({{ msg.getId }})">
                                <span class="glyphicon glyphicon-trash"></span>
                                Delete this message from queue
                            </button>
                        </div>
                    {% endif %}
                    {% if msg.getSubject %}<b>Subject: </b>{{ msg.getSubject }}<br>{% endif %}
                    {{ msg.getMessage|nl2br }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info center-block" role="alert">No messages in queue</div>
    {% endif %}
{% endblock %}