{% extends 'CmsBundle:Layout:layout.html.twig' %}

{% block title %}Title of Admin page{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            {{ include('CmsBundle:Admin:nav.html.twig') }}
        </div>
        <div class="col-md-9">
            {% block adminbody %}{% endblock %}
        </div>
    </div>
{% endblock %}
