{% extends 'CmsBundle:Layout:layout.html.twig' %}

{% block title %}Login form{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.message }}</div>
            {% endif %}
            <form action="{{ path('login_check') }}" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="_password" />
                </div>
                <input type="hidden" name="_target_path" value="/admin" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}