{% set user = app.user %}
<div class="alert alert-success" role="alert">
    <b>Hello {{ user }}!</b>
    (<a href="/admin/logout" class="alert-link">logout</a>)
    <br>You logged in as administrator.
</div>
<div class="panel panel-default">
    <div class="panel-heading">Contact form</div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="/admin">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    Message Queue
                    {% if messages is defined%}
                    <span class="badge pull-right" id="mcount">{{ messages|length }}</span>
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Pages</div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="/admin/pages">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    Manage pages
                </a>
            </li>
            <li>
                <a href="/admin/pages/create">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add page
                </a>
            </li>
        </ul>
    </div>
</div>