{% form_theme form 'bootstrap_3_layout.html.twig' %}
<form method="post" {{ form_enctype(form) }}>
    <div class="row">
        <div class="form-group col-md-12 {% if form_errors(form.parent) %}has-error{% endif %}">
            {{ form_label(form.parent) }}
            {{ form_widget(form.parent) }}
            {{ form_errors(form.parent) }}
        </div>
        <div class="form-group col-md-6 {% if form_errors(form.name) %}has-error{% endif %}">
            {{ form_label(form.name) }}&nbsp;(type <mark>main</mark> for use as homepage)
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="form-group col-md-6 {% if form_errors(form.slug) %}has-error{% endif %}">
            {{ form_label(form.slug) }}
            {{ form_widget(form.slug) }}
            {{ form_errors(form.slug) }}
        </div>
        <div class="form-group col-md-12 {% if form_errors(form.title) %}has-error{% endif %}">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="form-group col-md-12 {% if form_errors(form.content) %}has-error{% endif %}">
            {{ form_label(form.content) }}
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
        </div>
        {{ form_rest(form) }}
        <div class="col-md-12">
            <button class="btn btn-primary" type="submit">{{ action|capitalize }} page</button>
            {% if action == 'update' %}
                <button class="btn btn-danger pull-right" type="button" onclick="delPage({{ app.request.get('id') }});">
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete this page
                </button>
            {% endif %}
        </div>
    </div>
</form>