{% extends 'CmsBundle:Admin:layout.html.twig' %}

{% block title %}{{ action|capitalize }} page{% endblock %}

{% block adminbody %}
    <h2>{{ action|capitalize }} page</h2>
    {{ include('CmsBundle:Admin:page_manage_form.html.twig') }}
{% endblock %}