{% for child in children %}
    <tr class="treegrid-{{ child.getId }} treegrid-parent-{{ pid }}">
        <td>{{ child.getName }}</td>
        <td width="20%">
            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="{{ child.getTitle }}"></span>
            <span class="divider">&emsp;</span>
            <a href="{{ child.getPath }}">
                <span class="glyphicon glyphicon-link" data-toggle="tooltip" data-placement="bottom" title="Go to page"></span>
            </a>
            <span class="divider">&emsp;</span>
            <a href="/admin/pages/update/{{ child.getId }}">
                <span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="Edit page"></span>
            </a>
            <span class="divider">&emsp;</span>
            <a href="#" onclick="delPage({{ child.getId }});">
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete page"></span>
            </a>
        </td>
    </tr>
    {% if child.hasChild %}
        {% include 'CmsBundle:Admin:page_child_tree.html.twig' with {'children': child.getChildren, 'pid' : child.getId}  %}
    {% endif %}
{% endfor %}
