{% extends 'CmsBundle:Admin:layout.html.twig' %}

{% block title %}Pages{% endblock %}

{% block adminbody %}
    {% for flashMessage in app.session.flashbag.get('success_create_page') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Congratulations!</strong> {{ flashMessage }}
        </div>
    {% endfor %}
    {% if pages %}
        <h3>Pages list</h3>
        <table class="table table-hover table-bordered table-responsive tree">
            {% for page in pages %}
                <tr class="treegrid-{{ page.getId }}">
                    <td>{{ page.getName }}</td>
                    <td width="20%">
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="{{ page.getTitle }}"></span>
                        <span class="divider">&emsp;</span>
                        <a href="{% if not page.getPath %}/{% else %}{{ page.getPath }}{% endif %}">
                            <span class="glyphicon glyphicon-link" data-toggle="tooltip" data-placement="bottom" title="Go to page"></span>
                        </a>
                        <span class="divider">&emsp;</span>
                        <a href="/admin/pages/update/{{ page.getId }}">
                            <span class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="bottom" title="Edit page"></span>
                        </a>
                        <span class="divider">&emsp;</span>
                        <a href="#" onclick="delPage({{ page.getId }});">
                            <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete page"></span>
                        </a>
                    </td>
                </tr>
                {% if page.hasChild %}
                    {% include 'CmsBundle:Admin:page_child_tree.html.twig' with {'children': page.getChildren, 'pid' : page.getId}  %}
                {% endif %}
            {% endfor %}

        </table>
    {% else %}
        <div class="alert alert-info center-block" role="alert">Can't find any pages</div>
        <a href="/admin/pages/create" class="btn btn-primary">Create you first page</a>
    {% endif %}
{% endblock %}