<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/cms/css/sweetalert2.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/cms/css/jquery.treegrid.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/cms/css/style.css') }}" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{{ include('CmsBundle:Layout:nav.html.twig') }}

<div class="container">
    {% block body %}{% endblock %}
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/cms/js/sweetalert2.min.js') }}"></script>
    <script src="{{ asset('bundles/cms/js/jquery.treegrid.min.js') }}"></script>
    <script src="{{ asset('bundles/cms/js/jquery.treegrid.bootstrap3.js') }}"></script>
    <script src="//cdn.ckeditor.com/4.5.3/standard/ckeditor.js"></script>
    <script src="{{ asset('bundles/cms/js/script.js') }}"></script>
</body>
</html>
