<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Test project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Main</a></li>
                {% if menu is defined %}
                    <li>
                        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target=".pages-tree-modal">Pages tree</button>
                    </li>
                {% endif %}
                <li><a href="/contact">Contact form</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin">Admin panel</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="/admin/logout">Logout <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>