{% extends 'CmsBundle:Layout:layout.html.twig' %}
{% block title %}{% if page  %}{{ page.getTitle }}{% endif %}{% endblock %}
{% block body %}
    {% if page  %}
        <h1>{{ page.getTitle }}</h1>
        {% if with_contact_form is defined %}
            {{ page.getContent|replace({'%contact_form%': include('ContactFormBundle:Default:form.html.twig')})|raw }}
        {% else %}
            {{ page.getContent|raw }}
        {% endif %}
    {% else %}
        <div class="alert alert-warning" role="alert">
            <h1>
                Main page is still not created. Go to
                <a href="/admin/pages/create" class="alert-link">admin panel</a>
                and create page with name <code>main</code>
            </h1>
        </div>
    {% endif %}
    {% if menu is defined %}
        <div class="modal fade pages-tree-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Pages tree</h4>
                    </div>
                    <div class="modal-body">
                        {{ menu|raw }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
