{% if pages %}
    {% for el in pages %}
    <a href="{% if el.getPath %}{{ el.getPath }}{% else %}/{% endif %}">{{ el.getIndentedName }} ({{ el.getTitle }})</a><br>
    {% endfor %}
{% else %}
    <h3>No pages...</h3>
{% endif %}